:root {
  --blue-100: #c6e0ff;
  --blue-200: #9bcbfe;
  --blue-25: #f5faff;
  --blue-300: #56abfe;
  --blue-400: #067bfe;
  --blue-50: #e6f2ff;
  --blue-500: #014abd;
  --blue-600: #0133ae;
  --blue-700: #0123ad;
  --blue-800: #011a82;
  --blue-900: #061d6d;
  --blue-950: #081342;

  --primary-100: #afffee;
  --primary-200: #5fffde;
  --primary-25: #f6fffd;
  --primary-300: #05fecc;
  --primary-400: #0da58b;
  --primary-50: #e8fff9;
  --primary-500: #00816d;
  --primary-600: #006859;
  --primary-700: #005046;
  --primary-800: #04413a;
  --primary-900: #063630;
  --primary-950: #00211f;

  --complementary-400: #f9fcfb;
  --complementary-500: #f4f9f8;
  --complementary-600: #b7dad4;
  --complementary-700: #87c0b6;
  --complementary-800: #69aea2;
  --complementary-900: #5a9a90;
  --complementary-950: #3b6764;

  --green-100: #ceffe9;
  --green-200: #9bcbfe;
  --green-25: #f7fffb;
  --green-300: #58ffb8;
  --green-400: #06fd96;
  --green-50: #eafff5;
  --green-500: #00bf6f;
  --green-600: #00a460;
  --green-700: #007c49;
  --green-800: #04613b;
  --green-900: #055033;
  --green-950: #002d1c;

  --neutral-100: #e6e7e7;
  --neutral-200: #cfd0d2;
  --neutral-25: #fcfcfc;
  --neutral-300: #aeb0b2;
  --neutral-400: #85888b;
  --neutral-50: #f5f6f6;
  --neutral-500: #75787b;
  --neutral-600: #5b5d5f;
  --neutral-700: #4d4f51;
  --neutral-800: #444546;
  --neutral-900: #3b3c3e;
  --neutral-950: #252527;
  --neutral-950-70: #252527b3;

  --purple-100: #ebe8ff;
  --purple-200: #dad4ff;
  --purple-25: #fbfaff;
  --purple-300: #c0b1ff;
  --purple-400: #a085ff;
  --purple-50: #f5f2ff;
  --purple-500: #8455ff;
  --purple-600: #7330f7;
  --purple-700: #651ee3;
  --purple-800: #5418bf;
  --purple-900: #46169c;
  --purple-950: #2a0b6a;

  --red-100: #ffd9e1;
  --red-200: #ffb8c8;
  --red-25: #fff8f9;
  --red-300: #ff87a1;
  --red-400: #ff436c;
  --red-50: #ffeef1;
  --red-500: #ff0037;
  --red-600: #e00031;
  --red-700: #bd0029;
  --red-800: #9c0325;
  --red-900: #800923;
  --red-950: #00211f;

  --yellow-100: #fffbcb;
  --yellow-200: #fff699;
  --yellow-25: #fffef7;
  --yellow-300: #ffe95f;
  --yellow-400: #ffdb3b;
  --yellow-50: #fefcec;
  --yellow-500: #ffcb19;
  --yellow-600: #f1a800;
  --yellow-700: #c17602;
  --yellow-800: #9f5c0b;
  --yellow-900: #874b11;
  --yellow-950: #4f2605;

  --gray-50: #f5f6f6;
  --gray-100: #e6e7e7;
  --gray-200: #cfd0d2;
  --gray-300: #aeb0b2;
  --gray-400: #85888b;
  --gray-500: #75787b;
  --gray-600: #5b5d5f;
  --gray-700: #4d4f51;
  --gray-800: #444546;
  --gray-900: #3b3c3e;
}
