.success {
  @apply bg-primary-25 text-green-700 border border-green-700;
  @apply text-xs h-6;
}

.warning {
  @apply bg-yellow-25 text-yellow-700 border border-yellow-700;
  @apply text-xs h-6;
}

.danger {
  @apply bg-red-25 text-red-700 border border-red-700;
  @apply text-xs h-6;
}
