.paginator {
  @apply mt-6 py-1;

  :global {
    .p-paginator-pages .p-paginator-page.p-highlight {
      @apply bg-primary-500 text-neutral-0 font-semibold;
    }

    .p-paginator-pages {
      @apply flex items-center gap-2;
    }

    .p-paginator-pages .p-paginator-page {
      @apply min-w-7 h-7 text-sm;
    }
  }
}

.rows-per-page-dropdown {
  @apply min-w-[62px] w-auto h-7 px-3 py-0.5;

  :global {
    .p-dropdown-label {
      @apply text-base p-0 mr-2 min-w-4;
    }

    .p-dropdown-trigger {
      @apply w-3.5 h-full;
    }
  }
}
