.p-breadcrumb {
  .pi {
    font-size: $sizing-3-5;
  }
  .p-menuitem-separator {
    width: $sizing-2-5;
    height: $sizing-2-5;
  }
  .p-menuitem-text {
    font-size: $font-sm;
  }
  .p-breadcrumb-list li.p-menuitem-separator {
    margin: $spacing-0 $spacing-1;
  }
  .p-breadcrumb-list {
    li {
      &:last-child {
        .p-menuitem-text,
        .p-menuitem-icon {
          font-weight: $font-800;
        }
      }
      &.p-menuitem {
        padding: $sizing-1 $sizing-2;
        border-radius: $rounded-md;
      }
      &:hover {
        &.p-menuitem {
          background-color: $color-bg-neutral-hover;
        }
      }
    }
  }
}
