.p-radiobutton {
  &:not(.p-highlight) {
    &:hover {
      .p-radiobutton-box {
        background-color: $color-bg-primary-light-hover;
        border-color: $color-border-primary-hover;
      }
    }
  }
  &.p-disabled {
    opacity: 1;
    .p-radiobutton-box {
      background-color: $color-bg-disabled;
      border-color: $color-bg-disabled;
    }
    &:hover {
      .p-radiobutton-box {
        background-color: $color-bg-disabled-hover;
        border-color: $color-bg-disabled-hover;
      }
    }
  }
}
