.p-selectbutton {
  .p-button {
    .p-button-label {
      font-weight: 600;
    }
  }
}

.p-button-group {
  .p-button {
    &:not(:first-of-type):not(:last-of-type) {
      border-radius: 0px !important;
    }
    &:first-of-type {
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
    &:last-of-type {
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
  }
}
