.p-sidebar-visible {
  .p-sidebar-header {
    .p-sidebar-icons {
      button {
        @extend .p-button-xs;
        width: $sizing-7;
        height: $sizing-7;
      }
      .p-sidebar-icon {
        svg.p-icon {
          @extend .icon-small;
        }
      }
    }
  }
}
