.p-steps {
  .p-steps-item.p-highlight .p-steps-number {
    color: $color-text-inverse;
    background-color: $color-bg-primary;
    font-weight: 800;
  }
  .p-steps-item:before {
    margin-top: -16px;
  }
}
